@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient-custom {
    @apply bg-no-repeat bg-cover max-w-md pt-20;
    background-image: linear-gradient(
      to bottom,
      black 1%,
      #937c5f 35%,
      #d1c3ab 100%
    );
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
