@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient-custom {
    @apply bg-no-repeat bg-cover max-w-md pt-20;
    background-image: linear-gradient(
      to bottom,
      black 1%,
      #937c5f 35%,
      #d1c3ab 100%
    );
  }

  .bg-main-girl {
    @apply w-80 ml-24 transform scale-x-[-1];
    mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  .arrow-bottom {
    @apply absolute z-10;
    left: 20%;
    bottom: -20px;
    border-top: 45px solid white;
    border-right: 15px solid transparent;
    rotate: -40deg;
  }

  .arrow-top {
    @apply absolute z-50;
    left: 20%;
    top: -160px;
    border-top: 45px solid transparent;
    border-right: 15px solid white;
    rotate: 10deg;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
